a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.logo{
  font-size: xx-large;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(42, 123, 155, 1) 100%);
}